.footer_container{
    background-color: black;
    /* width: 100%; */
}


.last_section{
    background-color: black;
    margin-top: -0.5px;
    padding-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.last_section img{
    height: 45px;
}
.last_section p{
    color: #bdbdbd;
    font-size: 13px;
    line-height: 21px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    
}
.footer_icons_container{
    margin-top: 10px;
}
.footer_icons_container span {
    color: #f8f8f8;
    line-height: 35px;
    font-size: 35px;
    padding: 0 9px;
}

.footer_icons_container span:hover{
    color: #ff0066;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
   
    .footer_container{
        margin-bottom: 00px;
        padding: 0px;
        padding-bottom: 10px;
    }
    .last_section{
        margin-top: -0.5px;
        padding-top: 50px;
        text-align: center;
        margin-bottom: 0px;
        width: 100%;
    }
    
    .last_section img{
        height: 25px;
        margin-bottom: 10px;
    }
    .last_section p{
        color: #bdbdbd;
        font-size: 13px;
        line-height: 21px;
        font-family: 'Poppins', sans-serif;
        margin: 0;
    }
    .footer_icons_container{
        margin-top: 5px;
    }
    .footer_icons_container span {
        color: #f8f8f8;
        line-height: 35px;
        font-size: 27px;
        padding: 0 9px;
    }
  }