.cover_container{
    background-image: url('../../../assets/images/background.png');
    background-size: cover;
    height: 670px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.image_wrapper{
    width: 555px;
    aspect-ratio: auto 555 / 555;
}
.image_wrapper img{
    width: 100%;
}
.cover_content{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.main_heading{
    text-align: center;
    font-size: 71px;
    line-height: 71px;
    color: #f8f8f8;
    margin-bottom: 15px;  
    mix-blend-mode: color-dodge;
}

.cover_container button{
    margin-bottom: 25px;
}
.arrow{
    color: #f8f8f8;
    font-size: 50px;
    line-height: 50px;
    font-weight: 900;
    z-index: 33;
}
.arrow:hover {
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}

@media screen and (max-width: 768px) {

.cover_container{
    background-size: cover;
    height: 450px;
}
    
.cover_container img{
    padding-top: 50px;
    height: 420px;
    margin: 0 auto;
    width: 100%;
}
.cover_content{
    bottom: 0px;
}
.main_heading{
    font-size: 30px;
    line-height: 30px;
}

.cover_container button{
    margin-bottom: 15px;
}
.arrow{
    font-size: 45px;
}

}