.cover_container{
    background-image: url('../../../assets/images/background.png');
    background-size: contain;
    height: 95vh;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: rgb(233, 23, 23); */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.cover_container img{
    height: 560px;
    margin: 0 auto;
    margin-top: 50px;
}
.cover_content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    bottom: 50px;
    height: 100%;
    padding: 50px 0;
}
.main_heading{
    text-align: center;
    font-size: 105px;
    line-height: 105px;
    color: #f8f8f8;
    /* mix-blend-mode: color-dodge; */
}

.cover_container button{
    margin-top: -30px;
}
.arrow{
    color: #f8f8f8;
    font-size: 50px;
    line-height: 50px;
    font-weight: 900;
}
.arrow:hover {
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}

@media screen and (max-width: 1050px) {
    .cover_container{
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
    }

    .main_heading{
        text-align: center;
        font-size: 85px;
        line-height: 85px;
        color: #f8f8f8;
        margin-bottom: 15px;  
    }
    
}


@media screen and (max-width: 768px) {

.cover_container{
    background-size: cover;
    height: 450px;
    padding: 0;
}
    
.cover_container img{
    padding-top: 50px;
    height: 420px;
    margin: 0 auto;
    width: 100%;
}
.cover_content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 20px;
    height: 100%;
    padding: 0px 0;
}
.main_heading{
    font-size: 34px;
    line-height: 36px;
}

.cover_container button{
    margin-top: 50px;
}
}