.theme-btn{
    line-height: 30px;
    font-size: 30px;
    color: #f8f8f8;
    background-image: linear-gradient(
    160deg, #121FCF 0%, #f2295b 100%);
    border: none ;
    font-family: inherit;
    border-radius: 50px;
    padding: 12px 24px;
}

.first_section button:hover {
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(7px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(7px); }
}